<div class="wrapper"> <!-- Wrapper Starts -->
  <div class="container">

    <div class="feedback-form col-sm-6"> <!-- Feedback Form Starts -->
      <h2>Feedback Form</h2>
      <form #feedbackform="ngForm" (submit)="getFeedback(feedbackform.value); feedbackform.resetForm()">
        <div class="form-group">
          <label for="username">Name</label>
          <input type="text" class="form-control" id="username" name="username"
          #username="ngModel"
          ngModel
          required placeholder="Enter your Name">
        </div>
        <div
          class="error"
          *ngIf="username.invalid && (username.dirty || username.touched)"
        >
          <p class="text-danger">Please enter your name</p>
        </div>
        <div class="form-group">
          <label for="feedback">Please provide your valuable feedback to help us provide better solutions..</label>
          <textarea class="form-control" id="feedback" name="feedback"
          #feedback="ngModel"
          ngModel
          required  placeholder="Enter your feedback here!!"></textarea>
        </div>
        <div
          class="error"
          *ngIf="feedback.invalid && (feedback.dirty || feedback.touched) || errorCheck"
        >
          <p class="text-danger">Please enter your feedback</p>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div> <!-- Feedback Form Ends -->

    <div class="feedback-results col-sm-6"> <!-- Feedback Results Starts -->
      <h2>Feedback Results</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Feedback</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="arr && arr.length; else elseBlock">
            <tr *ngFor="let e of arr; let i = index">
              <td>{{i + 1}}</td>
              <td>{{e.username}}</td>
              <td>{{e.feedback}}</td>
              <td>{{e.date | date:'medium'}}</td>
            </tr>
          </ng-container>
          <ng-template #elseBlock>
            <tr>
              <td class="no-data-found" colspan="4">No Data Found</td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div> <!-- Feedback Results Ends -->

  </div>
</div> <!-- Wrapper Ends -->
